<h1>Stock#show</h1>
<p>Find me in app/views/stock/show.html.erb</p>
<%= select_tag(:stock_list, options_for_select( stock_list,"none" ) ) %>
<button id="show-realtime" type="button" class="green inline with-icon">
        Show/Add RealTime
</button>
<div id="#container" style="width:560px;height:300px"></div>


